@model IQueryable<MainServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeyWord;
}

<div id="main">
@if (Model.Any())
{

    <article class="post featured">
        @foreach (MainServiceItem entity in Model)
        {
        <article>
            <header>
                    <h2>
                        <a class="image fit" asp-area="" asp-controller="MainServices" asp-action="Index" asp-route-id="@entity.Id">
                            @entity.Title
                        </a>
                    </h2>
                    <p class="align-center">
                        @entity.Subtitle
                    </p>  
            </header>

            <a class="image fit" asp-area="" asp-controller="MainServices" asp-action="Index" asp-route-id="@entity.Id">
                <img src="~/images/@entity.TitleImagePath" alt="" />
            </a>
            @*<div>
            @entity.Subtitle

        </div>*@
            <ul class="actions special">
                <li>
                    <a class="button" asp-area="" asp-controller="MainServices" asp-action="Index" asp-route-id="@entity.Id">
                        Детальніше
                    </a>
                </li>
            </ul>

        </article>
        }
    </article>

}
</div>